:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 5px;
    --theme: #E3E4DB;
    --entry: #1B998B;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #001011;
    --code-bg: #1B998B;
    --border: #4Bc9bB;
}

.dark {
    --theme: #093A3E;
    --entry: #001011;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.74);
    --hljs-bg: #001011;
    --code-bg: #1B998B;
    --border: #008070;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}


.post-tags a {
  color: var(--content);
}
